{% extends 'core/base.html' %}

{% block content %}
<div class="container w-75">

    <div class="container border shadow border-primary rounded p-4 pt-3 " style="width: 45%">
        <div class="fs-5" style="text-align: center; margin-bottom:20px">
            Are you sure you want to cancel this lesson?
        </div>
        <form method="post">
            {% csrf_token %}
            
            <div style="text-align: center">
                <input type="submit" value="Yes" class='btn btn-primary', style='width: 30%'>
            </div>
        </form>
    </div>

</div>

{% endblock content %}