{% extends 'core/base.html' %}

{% block content %}

<div class="fs-1" style="text-align: center; margin-bottom:20px">Register</div>

<div class="container border shadow border-primary rounded p-4 pt-5" style="width: 40%">

<form method='POST'> 
    {% csrf_token %}
    
        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" name="email" placeholder="Email (optional)">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" name="password1" placeholder="Password" required>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" name="password2" placeholder="Confirm Password" required>
        </div>
        <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="is_teacher" value="1">
            <label class="form-check-label" for="flexSwitchCheckDefault">I am a teacher</label>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 100%">Register</button>
        <div style="text-align: center; margin: 5px">or</div> 
</form>

    <div style="display: flex; justify-content: center; align-items: center;">
        <a class="btn btn-sm btn-outline-primary" href="{% url 'authentication:login' %}">Go back</a>
    </div>
</div>
{% endblock %}